@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

:root{
  --prime-white : #fff;
  --prime-dark : rgb(59,52,64);
  --prime-light-grey : #f4f4f4s;
  --prime-dark-grey : #666666;
  --prime-grey : #ccd1d9;
  --prime-orange : #f9ab00;
  --hover-orange:  #dba919;
  --prime-red: #DC143C;
  --prime-blue: #00BFFF;
  --prime-black: #000;
}

body{
  /* overflow: hidden; */
  font-family: "Roboto Condensed" sans-serif !important;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=Navbar-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/* Menu Links */
.nameLink{
  color: var(--prime-white) !important;
  /* !important is used here, at places to override the default styling in Bootstrap Elements */
  text-transform: uppercase;
  font-family: AnuratiRegular;
  font-weight: bold;
  transform: scale(0.8);
}
nav{
  height: 5rem;
  z-index: 2;
}
nav a.nav-link{
  letter-spacing: 0.0375rem;;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li > a{
  color: var(--prime-white) !important;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-top: 0.1875rem solid var(--prime-dark);
}
.navbar-nav > li > a.active , .navbar-nav > li > a:focus{
  border-top: 0.1875rem solid var(--prime-orange);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--prime-orange);
}

.nameLink:hover {
    color: var(--hover-orange) !important;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-Header=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.header-wrapper{
  position: relative;
  background: url('./images/desktop.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  color: var(--prime-white);
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1{
  color: var(--prime-orange);
  text-transform: uppercase;
  position: absolute;
  top: 7.5rem;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-Typed Text=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.typed-text{
  color: var(--prime-white);  
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-Contact Me=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.btn-main-offer{
  border: 1px solid var(--prime-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--prime-white);
  margin: 2rem;
}
.btn-main-offer:hover{
  text-decoration: none;
  transition: background-color 0.8s ease;
  background-color: var(--hover-orange);
  border: var(--prime-white);
  font-weight: bold;
}
/* .title{

} */
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-Particles=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px){
  .navbar-brand{
    width: 7rem;
  }
  .main-info h1{
    font-size: 1.7rem !important;
    top: 12rem;
  }
  .typed-text{
    font-size: 1.1rem !important;
  }
  .particles-canvas{
    display: none;
  }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-AboutMe=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.dp{
  width: 17rem;
  border-radius: 50%;
  padding: 0.3rem;
  /* top: -2.25rem;
  right: 0.5rem; */
  height: 18rem;
  position: relative;
  margin: 1.25rem;
  /* padding: .75rem 5rem; */
  border:1px double var(--prime-blue);
}

.about-heading{
  color:var(--prime-orange) !important;
  /* display: flex; */
  justify-content: center;
  text-transform: uppercase !important;
  margin-left: 2rem;
  right: -1rem;
  font-family: AnuratiRegular !important;
}
.photowrap{
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-Services-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.services{
  padding-top: 5rem;
  text-align: center;
  padding-bottom: 2rem;
  background: var(--prime-light-grey);
}

.services h1{
  font-family: "Potta One", cursive !important;
  color: var(--prime-orange);
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.services .circle{
  position: relative;
  margin: 0.375rem auto;
  background-color: var(--prime-orange);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}
.services .icon{
  font-size: 1.4rem;
  position: absolute;
  color: var(--prime-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.services .box{
  height: 16rem;
  border-bottom: 0.3125rem solid var(--prime-orange);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--prime-white);
  transition: 0.3s ease-in-out;
}
.services .box:hover{
  background: var(--prime-orange);
  border-bottom: 0.3125rem double var(--prime-white);
  border-top: 0.3125rem double var(--prime-white);
  border-radius: 5%;
}
.services .box:hover .icon{
  color: var(--prime-dark);
}
.services .box:hover .circle{
  background:  var(--prime-white);
}
.services .box:hover p{
  color: var(--prime-white);
}
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-Experience=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.experience{
  padding: 0.7rem;
}

.experience-wrapper{
  position: relative;
  padding: 0.3125rem 0;
  overflow: hidden;
}

.experience h3{
  font-family: "Potta One", cursive !important;
  text-transform: uppercase;
  color: var(--prime-orange);
}

.experience-wrapper::before{
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--prime-grey);
  z-index: 1;
}

.timeline-block{
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right{
  float: right;
}

.timeline-block-left{
  float: left;
  direction: rtl;
}
.timeline-block-left h3{
  float: left;
  padding-left: 65%;
  /* direction: rtl; */
}
.timeline-block-left p{
  direction: rtl;
}

.marker{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--prime-dark);
  background: var(--prime-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content-left{
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--prime-dark-grey);
  direction: rtl;
}  
  
.timeline-content-left h5, h6{
  margin-top: 0.3125rem;
  color: var(--prime-red);
  font-weight: 900;
}

.timeline-content-right{
  width: 100%;
  padding: 0 0.9375rem;
  color: var(--prime-dark-grey);
  direction: ltr;
}  
  
.timeline-content-right h5, h6{
  margin-top: 0.3125rem;
  color: var(--prime-red);
  font-weight: 900;
}
/* --------------Media-------------- */
@media(max-width:768px){
  .experience .container{
    padding-left: 0;
  }
  .experience-wrapper::before{
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right{
    float: none;
    width: 100%;
  }
  .timeline-block-left{
    float: none;
    width: 100%;
    direction: ltr;
  }
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=Projects=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.projects-wrapper{
  display: flex;
  flex-direction: column;

  background:var(--prime-light-grey);
  padding: 3rem 0;
}
.project-image{
  width: 15rem;
  border: 1px solid var(--prime-orange);
  padding: 0 0.5rem;
}
.project-image-box{
  position: relative;
  margin: 1rem;
  padding-top: 0.6250rem;
  padding: 0.3125rem 0;
}
.overflow{
  display: inline-block;
  position: absolute;
  opacity: 0;
  background: var(--prime-black);
  width: 15rem;
  height: 7.5rem;
  top: 0;
  border: 1px solid var(--prime-red);
  cursor: pointer;
}
.project-image-box:hover .overflow{
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}
.project-icon{
  position: absolute;
  opacity: 0.2;
  margin-left: 6.5rem;
  margin-top: 3rem;
  color: var(--prime-orange);
  font-size: 1.5rem;
}
.overflow:hover .project-icon{
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.profile-text{
  display: flex;
  opacity: 0;
  flex-direction: row;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 6rem;
  margin: 0 43.5%;
  height: 5rem;
  margin-top: -5rem;
  padding-top: 2.2rem;
  padding-left: 0.9rem;
  font-weight: 500 !important;
}
.project-icon-github{
  position: absolute;
  opacity: 0.8;
  margin-left: 1%;
  margin-top: 0.7rem; 
  scale: 1.4;
  color: var(--prime-white);
  font-size: 1.5rem;
  z-index: 1;
}

.logo-header{
  height: 3rem;
  border: 1ps double var(--prime-black);
  margin-top: -2rem;
  margin-left: -2.5rem;
}
.github-header{
  background: rgba(0, 0, 0, 0.3);
  padding-top: 0.2 rem;
  margin-bottom: 4 rem;
  height: 3rem;
  width: 3rem;
  margin-left: 48%;
  border-radius: 15%;
  z-index: 1;
}
.project-icon-github-replica{
  opacity: 0;
  scale: 1.25;
  margin: 0.5rem;
}
.github-header:hover .project-icon-github-replica{
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.logo-header:hover .github-header{
  background: var(--prime-white);
}
.logo-header:hover .profile-text{
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.logo-header:hover .github-header > .project-icon-github{
  /* opacity: 1; */
  color: var(--prime-black);
  transition: 0.3s ease-in-out;
  background: var(--prime-white);
}
.logo-header:hover .github-header > .project-icon-github-replica{
  color: var(--prime-black) !important;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.github-text{
  margin-top: -3rem;
  scale: 1.4;
  z-index: 0.5;
}

  /*=-=-=-=-=-=-Tooltip=-=-=-=-=-=-=-* / 
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    /* background-color: black; * / 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip * / 
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  } */