@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
  --prime-white : #fff;
  --prime-dark : rgba(255,255,255,0);
  --prime-orange : #f9ab00;
  --hover-orange:  #dba919;
  --prime-red: #DC143C;
  --prime-blue: #00BFFF;
}

body{
  /* overflow: hidden; */
  font-family: "Roboto Condensed" sans-serif !important;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=Navbar-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/* Menu Links */
.nameLink{
  color: var(--prime-white) !important;
  /* !important is used here, at places to override the default styling in Bootstrap Elements */
  text-transform: uppercase;
  font-family: AnuratiRegular;
  font-weight: bold;
  transform: scale(0.8);
}
nav{
  height: 5rem;
  z-index: 2;
}
nav a.nav-link{
  letter-spacing: 0.0375rem;;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li > a{
  color: var(--prime-white) !important;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-top: 0.1875rem solid var(--prime-dark);
}
.navbar-nav > li > a.active , .navbar-nav > li > a:focus{
  border-top: 0.1875rem solid var(--prime-orange);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--prime-orange);
}

.nameLink:hover {
    color: var(--hover-orange) !important;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-Header=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.header-wrapper{
  position: relative;
  background: url('./images/desktop.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  color: var(--prime-white);
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1{
  color: var(--prime-orange);
  text-transform: uppercase;
  position: absolute;
  top: 7.5rem;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-Typed Text=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.typed-text{
  color: var(--prime-white);  
  font-size: 1.5rem;
  font-weight: bold;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-Contact Me=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.btn-main-offer{
  border: 1px solid var(--prime-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--prime-white);
  margin: 2rem;
}
.btn-main-offer:hover{
  text-decoration: none;
  transition: background-color 0.8s ease;
  background-color: var(--hover-orange);
  border: var(--prime-white);
  font-weight: bold;
}
/* .title{

} */
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-Particles=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px){
  .navbar-brand{
    width: 7rem;
  }
  .main-info h1{
    font-size: 1.7rem !important;
    top: 12rem;
  }
  .typed-text{
    font-size: 1.1rem !important;
  }
  .particles-canvas{
    display: none;
  }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-AboutMe=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.dp{
  width: 17rem;
  border-radius: 50%;
  padding: 0.3rem;
  /* top: -2.25rem;
  right: 0.5rem; */
  height: 18rem;
  position: relative;
  margin: 1.25rem;
  /* padding: .75rem 5rem; */
  border:1px double var(--prime-blue);
}

.about-heading{
  color:var(--prime-orange) !important;
  /* display: flex; */
  justify-content: center;
  text-transform: uppercase !important;
  margin-left: 2rem;
  right: -1rem;
  font-family: AnuratiRegular !important;
}
.photowrap{
  
  display: flex;
  justify-content: center;
  align-items: center;
}